#Estructuras de repetición

##Estructura de repetición para (for)
for i in range(ci,pasos,cf):



*   ci=valor inicial
*   pasos=incremento
*   cf=valor final

In [18]:
#Realizar la tabla del n del 1 al 10
n=0
while n<11:
  n=n+1
  #n=int(input("Ingrese un número para generar su tabla de multiplicar. "))
  print("Tabla del",n)

  for i in range(1,11):
    print(f"{n}*{i}=",n*i)
  print("")

Tabla del 1
1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
1*10= 10

Tabla del 2
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20

Tabla del 3
3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
3*10= 30

Tabla del 4
4*1= 4
4*2= 8
4*3= 12
4*4= 16
4*5= 20
4*6= 24
4*7= 28
4*8= 32
4*9= 36
4*10= 40

Tabla del 5
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

Tabla del 6
6*1= 6
6*2= 12
6*3= 18
6*4= 24
6*5= 30
6*6= 36
6*7= 42
6*8= 48
6*9= 54
6*10= 60

Tabla del 7
7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
7*10= 70

Tabla del 8
8*1= 8
8*2= 16
8*3= 24
8*4= 32
8*5= 40
8*6= 48
8*7= 56
8*8= 64
8*9= 72
8*10= 80

Tabla del 9
9*1= 9
9*2= 18
9*3= 27
9*4= 36
9*5= 45
9*6= 54
9*7= 63
9*8= 72
9*9= 81
9*10= 90

Tabla del 10
10*1= 10
10*2= 20
10*3= 30
10*4= 40
10*5= 50
10*6= 60
10*7= 70
10*8= 80
10*9= 90
10*10= 100

Tabla del 11
11*1= 11
11*2= 22
11*3= 33
11*4= 44
11*5= 55
11*6= 66
11*7= 77
11*8= 88
11*9= 99
11*10= 110

In [17]:
#Hacer un arbol con un digito
a=int(input("Que altura debe tener el arbol? "))
n="*"
b=a
c=1
for i in range (1,a,1):
  print(" "*b,n*(c))
  b=b-1
  c=c+2

Que altura debe tener el arbol? 10
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************

In [20]:
/////////
n=int(input())

while n==n%1==0 and n==n:
  print("El número es primo")
  if n==n*1 and n==n:
    break

5

#7

In [76]:
n=100
a=0
while n<101 and n>=10:
  print(n,"+")
  a=a+n
  n=n-10
  if n==0:
    break
print("Resultado:",a)

100 +
90 +
80 +
70 +
60 +
50 +
40 +
30 +
20 +
10 +
Resultado: 550

In [91]:
n=100
a=0
i=0
print(n,"+")
for i in range (10):
  a=a+n
  n=n+(-10)
  print(n,"+")
print("Resultado:",a)

100 +
90 +
80 +
70 +
60 +
50 +
40 +
30 +
20 +
10 +
0 +
Resultado: 550

#9

In [42]:
n=int(input("Ingrese N: "))
a=2
b=1
i=1
d=0
while i<n:
  print(f"{a}/{b}+")
  c=d+d
  d=a/b
  i=i+1
  a=a+2
  b=b+2
  if i==n:
    break

print("Resultado:",c)

Ingrese N: 10
2/1+
4/3+
6/5+
8/7+
10/9+
12/11+
14/13+
16/15+
18/17+
Resultado: 2.1333333333333333

In [43]:
n=int(input("Ingrese N: "))
a=2
b=1
d=0
for i in range (1,n):
  print(f"{a}/{b}+")
  c=d+d
  d=a/b
  i=i+1
  a=a+2
  b=b+2

print("Resultado:",c)

Ingrese N: 10
2/1+
4/3+
6/5+
8/7+
10/9+
12/11+
14/13+
16/15+
18/17+
Resultado: 2.1333333333333333

#10

In [56]:
n=int(input("Ingrese un número entre 1 y 10: "))
a=0
while n<=10 and n>=1:
  a=a+n
  n=int(input("Ingrese un número entre 1 y 10: "))
  
print(a)

Ingrese un número entre 1 y 10: 2
Ingrese un número entre 1 y 10: 9
Ingrese un número entre 1 y 10: 3
Ingrese un número entre 1 y 10: 0
14

In [67]:
n=int(input("Ingrese un número entre 1 y 10: "))
a=0
for i in range (1,10):
  a=a+n
  print("Suma:",a)
  n=int(input("Ingrese un número entre 1 y 10: "))
  i=n
  if n>10 or n<1:
    break

print("Total:",a)

Ingrese un número entre 1 y 10: 5
Suma: 5
Ingrese un número entre 1 y 10: 9
Suma: 14
Ingrese un número entre 1 y 10: 7
Suma: 21
Ingrese un número entre 1 y 10: 3
Suma: 24
Ingrese un número entre 1 y 10: 33
Total: 24

#6

In [74]:
#Realizar la tabla del n del 1 al 10
n=int(input("Ingrese un número para escribir su tabla: "))
print("Tabla del",n)
for i in range(1,11):
  print(f"{n}*{i}=",n*i)

Ingrese un número para escribir su tabla: 5
Tabla del 5
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

In [75]:
n=int(input("Ingrese un número para escribir su tabla: "))
i=1
print("Tabla del",n)
while i>0:
  print(f"{n}*{i}=",n*i)
  i=i+1
  if i==11:
    break

Ingrese un número para escribir su tabla: 5
Tabla del 5
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

#3

In [93]:
n=int(input("Ingrese un número: "))
factorial=1
if n<0:
  print("No hay factorial para números negativos")
else:
  if n!=0:
    for i in range(1,n+1):
      factorial=factorial*i
    print("Factorial:", factorial)

Ingrese un número: -9
No hay factorial para números negativos